html, body {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-size: 16px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  margin: 0 20px; }

.wrapper {
  background: #f4f4f4;
  max-width: 900px;
  margin: 20px auto 0 auto;
  padding: 40px; }

h1 {
  color: #888;
  font-size: 30px;
  font-weight: 500; }

.product {
  float: left;
  margin-right: 5px;
  line-height: 10px;
  font-size: 14px;
  text-align: center; }

.product_animal {
  font-weight: 600; }

.product_value {
  color: red; }

.clear {
  clear: both; }
